<main class="page">
  <section class="shopping-cart dark">
    <div class="container">
      <div class="block-heading">
        <h2>{{'ShoppingCart' | translate }}</h2>
        <p>{{'verifyCart' | translate}}</p>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12  col-lg-8">
            <div class="items">
              <div class="product">
                <div class="row " *ngFor="let item of products">
                  <div class="col-md-3">
                    <a href="#">{{item.name}}</a>
                    <img class="img-fluid mx-auto d-block image" src={{item.image}}>
                  </div>
                  <div class="col-md-8">
                    <div class="info">
                      <div class="row infoo">

                        <div class="col-md-3 quantity">
                          <label for="quantity">{{'Quantity' | translate}}</label>
                          <input id={{item.id}} class="form-control quantity-input" type="number" name="count" min=1
                            max={{item.quantity}} #target (change)="changed(target.value,item)" />
                        </div>
                        <div class="col-md-3 price">
                          <label for="quantity">{{'Price' | translate }} {{(target.value * item.newPrice)}}</label>
                        </div>
                        <div class="col-md-2 ">
                          <a class="btn btn-outline-danger btn-round " (click)="clear(item.id)">
                            {{'Delete' | translate}} </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>{{'Summary' | translate}}</h3>
              <div class="summary-item"><span class="text">{{'SubTotal' | translate}} :{{total}}
                  {{'Dt' | translate}}</span></div>
              <div class="summary-item"><span class="text">{{'Discount' | translate}}</span><span class="price">0
                  {{'Dt' | translate}} </span></div>
              <div class="summary-item"><span class="text">{{'Shipping' | translate}}</span><span class="price">0
                  {{'Dt' | translate}}</span></div>
              <div class="summary-item"><span class="text">{{'Total' | translate}}</span><span
                  class="price">{{'Total' | translate}} :{{total}} {{'Dt' | translate}}</span>
              </div>
              <button class="btn btn-outline-danger btn-round" (click)="open()"> {{'Checkout' | translate}} </button>
              <a class="btn btn-outline-danger btn-round " (click)="clearAll()">{{'ClearPurchase' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>