<div class="wrapper">
  <div class="section landing-section">
      <div class="container">
        <div class="row">
            <div class="col-md-12">        
                        <div class="feedback" *ngFor="let feedback of feedback  ">
                            <div class="feed-body">
                                <h4 style='color: #66615b;'>{{feedback.clientName}}:</h4>
                                <div class='feedborder'>
                                    <h5>{{feedback.text}}</h5>
                                    <button class="btn btn-danger btn-round"
                                        style='color: #EB5E28; margin-left: 186px '
                                        (click)="deleteFeedback(feedback.id)">Delete</button>
                                        <br><br>
                        </div>
                    </div>
                </div>
            </div>
          <!-- <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                  <div class="feedback-list">
                      <label>Feedback :</label>
                      <div class="feedback" *ngFor="let feedback of feedback ">
                          <br><br>
                          <div class="feed-body">
                              <h4 style='color: #fab830 '>◙ {{feedback.clientName}}:</h4>
                              <h5>{{feedback.text}}</h5>
                              <button class="delete" (click)="deleteFeedback(feedback.id)">Delete</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->

        </div>
      </div>
  </div>
</div>


