<div class="wrapper">
  <div class="page-header" style="background-image: url(../../../assets/img/vintage.jpg);">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h2 class="title" style="color:white;">{{'Welcome' | translate}}</h2>
            <form class="register-form">
              <label>{{'Email' | translate}}</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="{{'Email' | translate}}" (focus)="focus=true"
                  (blur)="focus=false" required [(ngModel)]="user.email" name="email" id="email" />
              </div>
              <div id="email-error" style="color:#f5593d;  font-weight:bold; margin-top: 10px; margin-left: 73px;">
              </div>
              <label>{{'Password' | translate}}</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>

                <input class="form-control" placeholder="{{'Password' | translate}}" (focus)="focus1=true"
                  (blur)="focus1=false" required [(ngModel)]="user.password" name="password" id="password"
                  [type]="fieldTextType ? 'text' : 'password'" />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa" [ngClass]="{
                                        'fa-eye-slash': !fieldTextType,
                                        'fa-eye': fieldTextType
                                      }" (click)="toggleFieldTextType()"></i>
                  </span>
                </div>

              </div>
              <div id="pass-error" style="color:#f5593d;  font-weight:bold; 
                              margin-top: 10px;
                              margin-left: 73px;"></div>
              <button class="btn btn-danger btn-block btn-round" (click)="login()"
                type="submit">{{'Log In' | translate}} </button>
            </form>
            <div style="margin-top: 10px;">
              <p>
                {{'Not a member'| translate}}
                <a href="http://localhost:5000/#/signup" style="color:#f5593d;">{{'Register' | translate}}</a>
              </p>
              <p>
                <a href="http://localhost:5000/#/forgot" style="color:#f5593d;">{{'Forgot password' | translate}}</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
