<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../../assets/img/logo.png">
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      Tocha Team
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p *ngIf="menuItem.title === 'Notifications'">{{menuItem.title}}</p>
        <!-- <p id="Notifications" *ngIf="menuItem.title === 'Notifications'">NOTIFICATIONS</p> -->
      </a>
    </li>
  </ul>
</div>