<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/back1.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <form class="register-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
              <!--   <label>{{'Password' | translate}}</label>-->
              <label>{{'Email' | translate}}</label>
              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
              </div>
              <button type="submit" [disabled]="f.invalid" class="btn btn-danger btn-block btn-round">
                {{'Reset password' | translate}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>