<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('../../../assets/img/download\ \(1\).gif');">

  </div>
  <div class="container">
    <div class="row" style="margin-top: 29px;">
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <!-- <img src={{logo}} alt="logo"> -->
            <h5 class="title">{{name}}</h5>
          </div>
          <div class="card-body">
            <div class="author">
              <img style="width: 259px;
                  height: 300px;
                  margin-left: 20px;" src={{logo}} alt="...">
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="button-container">
              <div class="row">
                <div class="">
                  <button class="btn btn-round" (click)="changeInfo()" style="margin-left:112px;"><i
                      class="fa fa-cog"></i> {{'Settings' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{'ContactTeam' |translate}} </h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled team-members">
              <li>
                <!-- <div class="row">
                  <div class="col-md-2 col-2">
                    <div class="avatar">
                      <img src="../../../assets/img/favicon.ico" alt="Circle Image"
                        class="img-circle img-no-padding img-responsive">
                    </div>
                  </div>
                  <div class="col-md-7 col-7">
                    {{'TochaTeam' | translate}}
                    <br />
                    <span class="text-success">
                      <small>{{'Available' | translate}}</small>
                    </span>
                  </div>
                  <div class="col-md-3 col-3 text-right">
                    <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                        class="fa fa-envelope"></i></button>
                  </div>
                </div> -->

                <div class="form-group row">
                  
                    <form role="form" #msg="ngForm" (ngSubmit)="onSend(msg)">
                      <div class="col-md-9 col-9">
                           <input class="form-control" type="text" name="messageSent" ngModel #messageSent="ngModel" />
                      </div>
                      <div class="col-md-3 col-3 text-right">
                           <button  type='submit' class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                          class="fa fa-envelope"></i></button>
                       </div>
                     </form>
                 </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">{{' InsertProduct' | translate }}</h5>
          </div>
          <div class="card-body">
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabContent>
                  <form role="form" #f="ngForm" (ngSubmit)="addCategory(f)" *ngIf="status === '' ">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">{{'Category' | translate}}</label>
                      <div class="col-lg-9">
                        <select id="product" name="category" class="form-control" ngModel #category="ngModel">
                          <option value="food">{{'Food' | translate}}</option>
                          <option value="clothes">{{'Clothes' |translate}}</option>
                          <option value="fourniture">{{'Fourniture' | translate}}</option>
                          <option value="electronics">{{'Electronics' | translate}}</option>
                          <option value="houseHold">{{'House Holds' | translate}}</option>
                          <option value="cleaning">{{'Cleaning Products' | translate}}</option>
                          <option value="laboratory">{{'LaboratoryProduct' | translate}}</option>
                          <option value="other">{{"Other" | translate}}</option>

                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <input type="submit" [disabled]="f.invalid" class="btn btn-danger btn-block btn-round"
                          value="{{'chooseCategory' | translate }}">
                      </div>
                    </div>
                  </form>
                  <form role="form" #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="status !== '' ">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">{{'Title' | translate}}</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" name="title" ngModel #title="ngModel" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">{{'textDescripion' | translate}}</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" name="description" ngModel #description="ngModel" />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">{{'OldPrice' | translate}}</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" name="oldPrice" ngModel #oldPrice="ngModel" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">{{'NewPrice' | translate}}</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" name="newPrice" ngModel #oldPrice="ngModel" />
                      </div>
                    </div>
                    <div class="form-group row"
                      *ngIf="(category === 'food' || category === 'cleaning' || category === 'laboratory')">
                      <label class="col-lg-3 col-form-label form-control-label">{{'ExpirationDate' | translate}}</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" name="expiredDate" ngModel #expiredDate="ngModel" />
                      </div>
                    </div>
                    <div class="form-group row"
                      *ngIf="(category === 'food' || category === 'cleaning' || category === 'houseHold' || category === 'electronics')">
                      <label class="col-lg-3 col-form-label form-control-label">{{'CreationDate' | translate}}</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" name="creationDate" ngModel #creationDate="ngModel" />
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="( category === 'houseHold' || category === 'electronics')">
                      <label class="col-lg-3 col-form-label form-control-label">{{'Devices' |translate}}</label>
                      <div class="col-lg-9">
                        <select id="devices" name="device" class="form-control" ngModel #device="ngModel">
                          <option value="computer"> {{'Computer' | translate}} </option>
                          <option value="printer"> {{'Printer' | translate}} </option>
                          <option value="projector"> {{'Projector' | translate}}</option>
                          <option value="speaker"> {{'Speaker' | translate}}</option>
                          <option value="camera">{{'Camera' | translate}}</option>
                          <option value="other">{{'Other' | translate}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="category === 'clothes'">
                      <label class="col-lg-3 col-form-label form-control-label">{{'HumanKind' | translate}}</label>
                      <div class="col-lg-9">
                        <select id="humankind" name="humankind" class="form-control" ngModel #humanKind="ngModel">
                          <option value="homme">{{'Men' | translate}} </option>
                          <option value="woman">{{'Woman' | translate}} </option>
                          <option value="kids">{{'Kids' [ translate]}}</option>
                          <option value="other">{{'Other' | translate}}</option>

                        </select>
                      </div>
                    </div>
                    <div class="form-group row" *ngIf="category === 'fourniture'">
                      <label class="col-lg-3 col-form-label form-control-label">{{'Type' | translate}}</label>
                      <div class="col-lg-9">
                        <select id="type" name="type" class="form-control" ngModel #type="ngModel">
                          <option value="table">{{'Table' | translate}}</option>
                          <option value="bed">{{'Bed' | translate}}</option>
                          <option value="chair">{{'Chair' | translate}}</option>
                          <option value="other">{{'Other' | translate}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">{{'Quantity' | translate}}</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="number" name="quantity" ngModel #quantity="ngModel" min="1"
                          max="100" />
                      </div>
                    </div>
                    <div class="col-md-4 chaima">
                      <label> image :</label>
                          <input
                          name="img"
                          type="file"
                          name="filename"
                          (change)="selectedFile($event)"
                          accept=".png,.jpg,.jpeg"
                          required
                      
                        /> </div>
                  <div style="padding:20px" *ngIf="(uploadProgress | async) === 100"> 
                       <ngb-progressbar  
                          
                          type="warning" 
                          [attr.aria-valuenow]="(uploadProgress | async) + '%'"
                          [width]="(uploadProgress | async) + '%'"
                          [striped]="true" 
                          [animated]="true"
                          [value]= "(uploadProgress | async)"
                          aria-valuemin="0"
                          aria-valuemax="100"
                           ><i> {{ uploadProgress | async }}%</i></ngb-progressbar><br> </div>
                    
                          
                           <a [href]="downloadURL | async" name="download">{{
                            downloadURL | async
                          }}</a>
                           
                          <img sref="C:\Users\ASUS" />
                    <div class="form-group row">
                      <input type="submit" [disabled]="f.invalid" class="btn btn-danger btn-block btn-round"
                        value="Add">
                    </div>
                  </form>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          <div class="card-body">
            <ngb-tabset>
              <ngb-tab title="{{'YourProducts' | translate}}">
                <ng-template ngbTabContent>
                  <div class="row following" id="follows">
                    <div class="col-md-6 ml-auto mr-auto">
                      <ul class="list-unstyled follows">
                        <li>
                          <div class="row" *ngFor="let item of products ">
                            <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                              <img src="{{item.image}}" alt="Circle Image"
                                class="img-circle img-no-padding img-responsive">
                            </div>
                            <div class="col-md-7 col-sm-4 ml-auto">
                              <h6>{{item.name}}<br /><small>{{item.newPrice}}</small></h6>
                            </div>
                          </div>
                        </li>
                        <hr />
                      </ul>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>