/* You can add global styles to this file, and also import other style files */
.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
    font-family: 'Montserrat', sans-serif;
  }
//   .swal-modal {
//     font-family: Helvetica;
//   }