<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/back1.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                     <!-- <h3 class="title" style="color:white;"> {{'Welcome' | translate}} </h3>-->   
                          <h3 class="title" style="color:white;"> Modify Your Info </h3> 
                          <form class="register-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
                              <label>New Address</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Address" (focus)="focus=true" (blur)="focus=false"  [(ngModel)]="address" name="address"/>
                              </div>
                              <label>New Phone Number</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class=" nc-icon nc-mobile"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Phone Number" (focus)="focus=true" (blur)="focus=false"  [(ngModel)]="phoneNumber1" name="phoneNumber1"/>
                              </div>
  
                              <button type="submit" [disabled]="f.invalid" class="btn btn-danger btn-block btn-round"> Confirm new info </button>
                          </form>
                      </div>
                    </div>
                </div>
              
            </div>
    </div>
  </div>
  
