<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" >
            <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                FirstName
              </th>
              <th>
                LastName
              </th>
              <th>
                Email
              </th>
              <th>
                Street
              </th>
              <th>
                City
              </th>
              <th>
                ZipCode
              </th>
              <th>
                Tel
              </th>
              <th>
                CreatedAt
              </th>
              <!-- <th class="text-right">
                Salary
              </th> -->

            </thead>
            <tbody>
              <tr *ngFor="let item of allClientUsers">
                <td>
                  {{item.id}}
                </td>
                <td>
                  {{item.firstName}}
                </td>
                <td>
                  {{item.lastName}}
                </td>
                <td>
                  {{item.email}}
                </td>
                <td>
                  {{item.street}}
                </td>
                <td>
                  {{item.city}}
                </td>
                <td>
                  {{item.zipCode}}
                </td>
                <td>
                  {{item.phoneNumber}}
                </td>
                <td>
                  {{item.createdAt}}
                </td>
                <!-- <td class="text-right">
                  $36,738
                </td> -->
                <button style="background-color: #51cbce" type="button" class="btn btn-info text-right" (click)="deleteUser(item)"> <i class="nc-icon nc-simple-remove"> </i></button>
                <button style="background-color:#51cbce" type="button" id="buttonConfirmClient text-right" class="btn btn-info"
                  (click)="confirmUser(item)"><i class="nc-icon nc-check-2"> </i></button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>