<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/feedback.jpg');">
    </div>
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <div class="row">
                        
                        <label>Feedback</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..." ngModel required  #text="ngModel"  name="text"></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button type='submit' class="btn btn-danger btn-center btn-lg btn-fill" >
                                    Send FeedBack</button>
                            </div>
                        </div>
                    </div>
                    </form  >
                    <br><br>
                    <div class="feedback-list">
                        <label>My Feedback :</label>
                        <div class="feedback" *ngFor="let feedback of myFeedback ">
                            <br><br>
                            <div class="feed-body">
                                <h4 style='color: #fab830 '>◙ {{feedback.clientName}}:</h4>
                                <h5>{{feedback.text}}</h5>
                                <button class="delete" (click)="deleteFeed(feedback.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="feedback-list">
                        <label>Other member's Feedback:</label>
                        <div class="feedback" *ngFor="let feedback of otherFeedback ">
                            <br><br>
                            <div class="feed-body">
                                <h4 style='color: #fab830 '>◙ {{feedback.clientName}}:</h4>
                                <h5>{{feedback.text}}</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>