<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/back1.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                     <!-- <h3 class="title" style="color:white;"> {{'Welcome' | translate}} </h3>-->   
                          <h3 class="title" style="color:white;"> Welcome </h3> 
                          <form class="register-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
                            <label>First Name</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class=" nc-icon nc-single-02"></i>
                                </span>
                              </div>
                                <input type="text" class="form-control" placeholder="First Name" (focus)="focus=true" (blur)="focus=false" ngModel required  #firstName="ngModel"  name="firstName"/>
                            </div>
                            <label>Last Name</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-single-02"></i>
                                </span>
                              </div>
                                <input type="text" class="form-control" placeholder="Last Name" (focus)="focus=true" (blur)="focus=false"  ngModel required  #lastName="ngModel" name="lastName" />
                            </div>
                              <label>Email</label>
                                  <!-- <label>{{'Email' | translate}}</label>-->
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false"  ngModel required  #email="ngModel" name="email"/>
                              </div>

                              <!--   <label>{{'Password' | translate}}</label>-->
                              <label>Password</label>

                         
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" ngModel  required  #password="ngModel" name="password"/>
                              </div>
                              <label>Confirm Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Confirm your Password" (focus)="focus1=true" (blur)="focus1=false" ngModel required  #passwordConf="ngModel" name="passwordConf" />
                              </div>
                              <label>Street</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Street" (focus)="focus=true" (blur)="focus=false"  ngModel required  #street="ngModel" name="street"/>
                              </div>
                              <label>City</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="City" (focus)="focus=true" (blur)="focus=false"  ngModel required  #city="ngModel" name="city"/>
                              </div>
                              <label>Zip Code</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Zip Code" (focus)="focus=true" (blur)="focus=false"  ngModel required  #zipCode="ngModel" name="zipCode"/>
                              </div>
                              <label>Phone Number</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class=" nc-icon nc-mobile"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Phone Number" (focus)="focus=true" (blur)="focus=false"  ngModel  #phoneNumber="ngModel" name="phoneNumber"/>
                              </div>

                              <button type="submit" [disabled]="f.invalid" class="btn btn-danger btn-block btn-round"> Register </button>
                          </form>
                      </div>
                    </div>
                </div>
              
            </div>
    </div>
</div>
