<div class="wrapper">
        <div class="page-header page-header-xs" data-parallax="true"
                style="background-image: url('./assets/img/Capture1.PNG'); max-height:500px;">
        </div>
</div>
<div id=menu>
        <select class="btn btn-outline-danger btn-round" #mySelect (change)=getCategoriesdata(mySelect.value)>
                <option value="category" selected>Category..</option>
                <option value="food">Food</option>
                <option value="clothes">Clothes</option>
                <option value="fourniture">Fourniture</option>
                <option value="electronicDevices">Electronics</option>
                <option value="houseHolds">House Hold</option>
                <option value="cleaningProduct">Cleaning Products</option>
                <option value="other">Other</option>
        </select>
<div class=""> 
        <select class="btn btn-outline-danger btn-round" id="inputGroupSelect02" #selectedTag (change)=getPricedata(selectedTag.value) >
                <option value="Required price"  selected>Required price</option>
                <option value="10,000">[0 - 10,000]dt.</option>
                <option value="10.000 & 50.000">[10,000 - 50,000]dt.</option>
                <option value="50.000 & 200.000">[50,000 - 200,000]dt.</option>
                <option value="200.000 & 500.000">[200,000 - 500,000]dt.</option>
                <option value="500.001">[500,000 & More]dt.</option>

        </select>
        </div>
</div>

<!-- <ul id=menu>
        <li><a href="#L384">Section 1</a>
        <li><a href="#details">Section 2</a>
        <li><a href="#FAQ">Section 3</a>
</ul> -->
<div class="container">

        <div class="row" style="margin-top: 37px">
                <div class="cover">
                </div>
                <div class="col-md-4" *ngFor="let item of products | slice:startIndex:endIndex">
                        <div class="card">
                                <div class="card-img">
                                        <img class="img-no-padding" style="max-height:200px;margin-left:8%;"
                                                src="{{item.image}}">
                                </div>
                                <div class="card-body">
                                        <h3 class="card-title">{{item.name}}</h3>
                                        <h5><del>{{item.oldPrice}}</del></h5>
                                        <h5>{{item.newPrice}}</h5>

                                        <button class="btn btn-outline-danger btn-round" (click)="open(item)">See More About
                                                </button>
                                        <!-- <app-modal-component></app-modal-component>-->
                                </div>
                        </div>
                </div>
                <div class="">
                        <nav aria-label="...">
                                <ul class="pagination"
                                        *ngFor="let item of getArrayFromNumber(products.length) ; let i =index ">

                                        <li class="page-item ">
                                                <a class="page-link " (click)="updateIndex(i)">{{i+1}}</a>
                                        </li>
                                </ul>
                                <h5>Page n°:{{page}}</h5>
                        </nav>
                </div>
        </div>
</div><br><br><br><br>