
<div class="wrapper">
  <div class="page-header" style="background-image: url('../../../assets/img/Secondhand-eCommerce.jpg');">
      <div class="filter" style="background-color: rgb(0 0 0 / 56%);"></div>
          <div class="container">
              <div class="row ">
                  <div class="col-lg-12 ">
                    <div class="card card-register-comp" >
                    <h3 class="title" style="color:white;"> {{'Welcome' | translate}} </h3>  
                        
                        <form class="register-form" #f="ngForm" (ngSubmit)="onSubmit(f)">


                          <div class='row chaima'>
                                 <div class="col-md-4 chaima"> 
                                  <label>Company Name</label>
                                  <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class=" nc-icon nc-single-02"></i>
                                      </span>
                                    </div>
                                      <input type="text" class="form-control" placeholder="Company Name" (focus)="focus=true" (blur)="focus=false" ngModel required  #firstName="ngModel"  name="name"/>
                                  </div>

                              </div>

                                  <div class="col-md-4 chaima">
                                  <!-- <label>Email</label> -->
                                 <label>{{'Email' | translate}}</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false"  ngModel required  #email="ngModel" name="email"/>
                              </div>
                              </div> 

                                  <div class="col-md-4 chaima">
                                  <label>Description</label>
                                  <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="nc-icon nc-paper"></i>
                                      </span>
                                    </div>
                                      <input type="text" class="form-control" placeholder="Describe your Company!" (focus)="focus=true" (blur)="focus=false"  ngModel required  #description="ngModel" name="description"/>
                                  </div>
                              </div>  
                          </div>
                           <div class='row chaima'>
                             <div class="col-md-6 chaima">
                            <label>Password </label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-key-25"></i>
                                </span>
                              </div>
                                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" ngModel  required  #password="ngModel" name="password"/>
                                <div class="input-group-append">
                                  <span class="input-group-text">
                                    <i class="fa" [ngClass]="{
                                                        'fa-eye-slash': !fieldTextType,
                                                        'fa-eye': fieldTextType
                                                      }" (click)="toggleFieldTextType()"></i>
                                  </span>
                                </div>
                            </div>
                            
                              </div>
                              <div class="col-md-6 chaima" >
                              <label> Confirm your password</label>
                              <!-- <label>Confirm Password</label> -->
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="Confirm your Password" (focus)="focus1=true" (blur)="focus1=false" ngModel required  #passwordConf="ngModel" name="passwordConf" />
                                  <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa" [ngClass]="{
                                                          'fa-eye-slash': !fieldTextType,
                                                          'fa-eye': fieldTextType
                                                        }" (click)="toggleFieldTextType()"></i>
                                    </span>
                                  </div>
                              </div>
                              
                              </div>
                            </div>
                                <div class='row chaima'> 
                              <div class="col-md-4 chaima">
                              <label>Street</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Street" (focus)="focus=true" (blur)="focus=false"  ngModel required  #street="ngModel" name="street"/>
                              </div>
                              </div>
                            
                            
                              <div class="col-md-4 chaima">
                            <label>City</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="City" (focus)="focus=true" (blur)="focus=false"  ngModel required  #city="ngModel" name="city"/>
                              </div>
                              </div>

                              <div class="col-md-4 chaima">
                              <label>Zip Code</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-map-big"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Zip Code" (focus)="focus=true" (blur)="focus=false"  ngModel required  #zipCode="ngModel" name="zipCode"/>
                              </div> 
                              </div>
                            </div>
                            <div class='row chaima'>
                              <div class="col-md-4 chaima">
                                <label>Phone Number 1 :</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class=" nc-icon nc-mobile"></i>
                                    </span>
                                  </div>
                                 <input type="text" class="form-control" placeholder="Phone Number 1" (focus)="focus=true" (blur)="focus=false"  ngModel  #phoneNumber1="ngModel" name="phoneNumber1"/>
                                </div>
                              </div>

                              <div class="col-md-4 chaima">
                                <label>Phone Number 2 :</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class=" nc-icon nc-mobile"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Phone Number 1" (focus)="focus=true" (blur)="focus=false"  ngModel  #phoneNumber2="ngModel" name="phoneNumber2"/>
                                  </div>
                              </div>

                              <div class="col-md-4 chaima">
                                <label>Patent Number :</label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class=" nc-icon nc-paper"></i>
                                    </span>
                                  </div>
                                    <input type="text" class="form-control" placeholder="Patent Number" (focus)="focus=true" (blur)="focus=false"  ngModel  #numberPatent="ngModel" name="numberPatent"/>
                                </div>
                              </div>
                            </div>

                               <div class="col-md-4 chaima">
                                <label> logo /image :</label>
                                    <input
                                    name="img"
                                    type="file"
                                    name="filename"
                                    (change)="selectedFile($event)"
                                    accept=".png,.jpg,.jpeg"
                                    required
                                
                                  /> </div>
                            <div style="padding:20px" *ngIf="(uploadProgress | async) === 100"> 
                                 <ngb-progressbar  
                                    
                                    type="warning" 
                                    [attr.aria-valuenow]="(uploadProgress | async) + '%'"
                                    [width]="(uploadProgress | async) + '%'"
                                    [striped]="true" 
                                    [animated]="true"
                                    [value]= "(uploadProgress | async)"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                     ><i> {{ uploadProgress | async }}%</i></ngb-progressbar><br> </div>
                              
                                    <div>
                                     <a [href]="downloadURL | async" name="download">{{
                                      downloadURL | async
                                    }}</a>
                                     </div>
                                    <img sref="C:\Users\ASUS" />

                            <button type="submit" [disabled]="f.invalid" class="btn btn-danger btn-block btn-round"> Register </button>
                        </form>
                    </div>
                  </div>
              </div>
            
          </div>
  </div>
</div>
