<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Jane Faker<br /></h4>
                    <h6 class="description">Music Producer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Your Products">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Add a product">
                            <ng-template ngbTabContent>
                                <form role="form">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label" >Title:</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Category:</label>
                                        <div class="col-lg-9">
                                            <select id="product" name="products" required>
                                              <option value="----------------------">----------------------</option>
                                              <option value="Food">Food</option>
                                              <option value="Clothes">Clothes</option>
                                              <option value="Fourniture">Fourniture</option>
                                              <option value="Electronics">Electronics</option>
                                              <option value="House Hold">House Hold</option>
                                              <option value="Cleaning Products">Cleaning Products</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Description:</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Image:</label>
                                        <div class="col-lg-9">
                                            <input type="URL" name="myURL" placeholder="insert image URL here" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Old Price:</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">New Price:</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Expiration date:</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Creation date:</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Quantity:</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <input type="button" class="btn btn-primary" value="Add">
                                            <input type="reset" class="btn btn-secondary" value="Cancel">
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Cart">
                            <ng-template ngbTabContent>
                                <form role="form">
                                    <div class="wrap cf">
                                        <div class="cart">
                                          <ul class="cartWrap">
                                            <li class="items odd">
                                            <div class="infoWrap"> 
                                                <div class="cartSection">
                                                <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
                                                    <h3>Item Name</h3>
                                                </div>  
                                                <div class="prodTotal cartSection">
                                                    <p>$15.00</p>
                                                </div>
                                                <div class="cartSection removeWrap">
                                                    <a href="#" class="remove">x</a>
                                                </div>
                                            </div>
                                            </li>
                                          </ul>
                                        </div>
                                        <div class="subtotal cf">
                                            <ul>        
                                                <li class="totalRow final">
                                                    <span class="label">Total</span>
                                                    <span class="value">$44.00</span>
                                                </li>
                                                <a href="#" class="btn continue">Checkout</a>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
