<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Shop</h4>
      </div>
      <div class="card-body">
        <div class="card col-md-4"   style="width: 35rem;">
          <h5 class="card-title">Card title</h5>
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Description</p>
            <p class="card-text">Quantity</p>
            <p class="card-text">new Price</p>
            <p class="card-text">old Price</p>
            <p class="card-text">category</p>
             <p class="card-text">owner id</p>
             <p class="card-text">ownerType</p>
             <p class="card-text">expired date</p>
             <p class="card-text">creation Date</p>  
             <p class="card-text"> humanKind</p> 
             <p class="card-text"> type</p>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
