<div class="row">

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">All Products</p>
              <p class="card-title">{{Productslength}}
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Company Followers</p>
              <p class="card-title">{{CompanyFollowers}}
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Clients Followers</p>
              <p class="card-title">{{ClientsFollowers}}
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top: 37px">
    <div class="cover">
    </div>

    <div class="col-md-4" *ngFor="let item of products">
      <div class="card">
        <div class="card-img">
          <img class="img-no-padding" style="max-height:175px;margin-left:8%;max-width:260px" src="{{item.image}}">
        </div>
        <div class="card-body">

          <p><strong class="red">Name :</strong>{{item.name}} </p>
          <p><strong class="red">id :</strong> {{item.id}} </p>
          <p><del><strong class="red">Price:</strong> {{item.oldPrice}}</del></p>
          <p><strong class="red">Price :</strong>{{item.newPrice}}</p>
          <p><strong class="red">description :</strong>{{item.description}}</p>
          <p><strong class="red">owner Id :</strong>{{item.ownerId}} </p>
          <p><strong class="red">owner Type :</strong>{{item.ownerType}} </p>
          <p *ngIf="item.category ==='cleaningProduct' || item.category === 'food' "><strong class="red">expired Date
              :</strong> {{item.expiredDate}} </p>
          <p *ngIf="item.category !=='fourniture'|| item.category !== 'clothes'"><strong class="red">creation Date
              :</strong> {{item.creationDate}}</p>
          <p><strong class="red">quantity :</strong>{{item.quantity}}</p>
          <p *ngIf="item.category==='electronicDevices'|| item.category==='houseHolds'"><strong
              class="red">device:</strong>{{item.device}} </p>
          <p *ngIf="item.category==='clothes'"><strong class="red">humanKind :</strong>{{item.humanKind}} </p>
          <p *ngIf="item.category==='fourniture'"><strong class="red">type :</strong>{{item.type}} </p>
          <p><strong class="red">createdAt :</strong>{{item.createdAt}} </p>
          <p><strong class="red">updatedAt :</strong>{{item.updatedAt}} </p>
          <button class="btn btn-outline-danger btn-round" (click)=" addProducts(item)">Confirm
          </button>
          <button class="btn btn-outline-danger btn-round" (click)="deleteOne(item.id)">Delete</button>
        </div>

      </div>
    </div>
  </div>
</div>