<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="refresh" class="table" *ngFor="let item of allCompanyUsers">
            <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Name
              </th>
              <th>
                Email
              </th>
              <th>
                Street
              </th>
              <th>
                City
              </th>
              <th>
                ZipCode
              </th>
              <th>
                Description
              </th>
              <th>
                PhoneNumber 1
              </th>
              <th>
                PhoneNumber 2
              </th>
              <th>
                Patent n°
              </th>
              <th>
                Logo
              </th>
              <th>
                CreatedAt
              </th>
              <!-- <th class="text-right">
                Salary
              </th> -->

            </thead>
            <tbody>
              <tr>
                <td>
                  {{item.id}}
                </td>
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.email}}
                </td>
                <td>
                  {{item.street}}
                </td>
                <td>
                  {{item.city}}
                </td>
                <td>
                  {{item.zipCode}}
                </td>
                <td>
                  {{item.description}}
                </td>
                <td>
                  {{item.phoneNumber1}}
                </td>
                <td>
                  {{item.phoneNumber2}}
                </td>
                <td>
                  {{item.numberPatent}}
                </td>
                <td>
                  {{item.logo}}
                </td>
                <td>
                  {{item.createdAt}}
                </td>
                <button type="button" class="btn btn-info text-right" (click)="deleteUser(item)">Delete</button>
                <button class="text-right" type="button" id="buttonConfirmCompany" class="btn btn-info"
                  (click)="confirmUser(item)">OK</button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>