<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="refresh" class="table">
            <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Name
              </th>
              <th>
                Email
              </th>
              <th>
                Street
              </th>
              <th>
                City
              </th>
              <th>
                ZipCode
              </th>
              <th>
                Description
              </th>
              <th>
                Tel n° 1
              </th>
              <th>
                Tel n° 2
              </th>
              <th>
                Patent n°
              </th>
              <th>
                Logo
              </th>
              <th>
                CreatedAt
              </th>
              <!-- <th class="text-right">
                Salary
              </th> -->

            </thead>
            <tbody>
              <tr  *ngFor="let item of allCompanyUsers">
                <td>
                  {{item.id}}
                </td>
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.email}}
                </td>
                <td>
                  {{item.street}}
                </td>
                <td>
                  {{item.city}}
                </td>
                <td>
                  {{item.zipCode}}
                </td>
                <td>
                  {{item.description}}
                </td>
                <td>
                  {{item.phoneNumber1}}
                </td>
                <td>
                  {{item.phoneNumber2}}
                </td>
                <td>
                  {{item.numberPatent}}
                </td>
                <td>
                  <img src={{item.logo}} style="max-height:100px;margin-left:8%;max-width:100px"/>
                </td>
                <td>
                  {{item.createdAt}}
                </td>
                <button style="background-color: #51cbce" type="button" class="btn btn-info text-right" (click)="deleteUser(item)"><i class="nc-icon nc-simple-remove"> </i></button>
                <button style="background-color:#51cbce" class="text-right" type="button" id="buttonConfirmCompany" class="btn btn-info"
                  (click)="confirmUser(item)"><i class="nc-icon nc-check-2"> </i></button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>