<div class="row">
  <div class="col-md-4" *ngFor="let item of realClients">
    <div class="card card-user">
      <div class="card-header">
        <h4 class="card-title">Delevery</h4>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Client Information</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-7 col-7">
               Id : {{item.clientId}}
                </div>
                <div class="col-md-7 col-7">
               Name :{{item.clientName}}
              </div>
              <div class="col-md-7 col-7">
               Phone Number :{{item.clientNumber}}
              </div>
              <div class="col-md-7 col-7">
               Email : {{item.clientEmail}}
              </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    <div class="card" >
      <div class="card-header">
        <h4 class="card-title">Product</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members" *ngFor="let i of products" >
          <li  *ngIf="i.clientId === item.clientId">
            <div class="row" >
              <div class="col-md-7 col-7">
                  {{i.productId}} : {{i.productName}}
                <br />
                <span class="text-success">
                  <small>{{i.quantity}}</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <p class="">{{i.price}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-footer">
          <div class="row">
              <p> Total: {{item.total}} </p>
          </div>
          <button type="button" class="btn btn-info text-right" (click)="delete(item.clientId)">Delete</button>
          <button type="button" class="btn btn-info text-right" (click)="save()">Accept</button>
        </div>
    </div>
  </div>
</div>
</div>
