<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-header">
        <h4 class="card-title">Delevery</h4>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Client Information</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-7 col-7">
                client name
                </div>
                <div class="col-md-7 col-7">
                client id
              </div>
              <div class="col-md-7 col-7">
                client address
              </div>
              <div class="col-md-7 col-7">
                client Phone number
              </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    
    
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Product</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-7 col-7">
                  Product name
                <br />
                <span class="text-success">
                  <small>Quantity</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <p class=""> price</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-footer">
          <div class="row">
              <p> Total:</p>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
